# Class in Object Oriented Programing

image

In [61]:
a= 22
print(type(a))

<class 'int'>

In [62]:
b = 21.0
print(type(b))

<class 'float'>

In [63]:
c = False
print(type(c))

<class 'bool'>

In [64]:
d="ETLHIVE"
print(type(d))

<class 'str'>

In [65]:
e = [1,2,3,4,5]
print(type(e))

<class 'list'>

In [66]:
g={
    "Roll_no" : [1,2,3],
    "Name" : ["Sid","Raj","Jay"],
    "Marks" : [50,65,48]

}
print(type(g))

<class 'dict'>

In [67]:
import pandas as pd

In [68]:
df= pd.DataFrame(g)
df

   Roll_no Name  Marks
0        1  Sid     50
1        2  Raj     65
2        3  Jay     48

In [69]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

## Attributes of Class Dataframe

In [70]:
df.columns

Index(['Roll_no', 'Name', 'Marks'], dtype='object')

In [71]:
list(df.index)

[0, 1, 2]

In [72]:
df.shape

(3, 3)

In [73]:
df.dtypes

Roll_no     int64
Name       object
Marks       int64
dtype: object

### Methods (Functions) of class dataframe

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Roll_no  3 non-null      int64
 1   Name     3 non-null      object
 2   Marks    3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [75]:
df.sort_values(by="Marks",ascending=False)

   Roll_no Name  Marks
1        2  Raj     65
0        1  Sid     50
2        3  Jay     48

In [76]:
df.isna().sum()

Roll_no    0
Name       0
Marks      0
dtype: int64

In [77]:
df.agg({"Marks":"mean"})

Marks    54.333333
dtype: float64

### creating a user defined class

image

In [78]:
class Person:


    # First function is a constructor function
    def __init__(self,name,age,gender,occupation) :
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    # Extra function for class
    def talk(self):
        print(f"Hi there my name is {self.name}")
        print(f"I am Currently {self.age} yrs old")
        print(f"i am {self.gender}")
        print(f"i work as a  {self.occupation}")

In [79]:
p1= Person(name="sid", age=22 , gender= "male",occupation="gamer")

In [80]:
p1

In [81]:
print(type(p1))

<class '__main__.Person'>

### __main__ refers yo the current file i am working on

attributes of class person

In [82]:
p1.name

'sid'

In [83]:
p1.age

22

In [84]:
p1.gender

'male'

In [85]:
p1.occupation

'gamer'

## methods talk for class person

In [86]:
p1.talk()

Hi there my name is sid
I am Currently 22 yrs old
i am male
i work as a  gamer

In [87]:
p2=Person('jay',22,"female","coder")
type(p2)

__main__.Person

In [88]:
p2.age

22

In [89]:
p2.name

'jay'

In [90]:
p2.occupation

'coder'

## Modifying the age